@charset "utf-8";

/*sub_visual*/
.sub_visual{text-align:center; margin-top:30px; border-top:2px solid #4f1816; border-bottom:2px solid #4f1816;}
.sub_visual img{width:100%;}

/*tap_menu*/
.tap_menu{margin-top:50px; width:100%;}
.tap_menu ul{text-align:center; width:100%; margin:0 auto;  font-size:0;}
.tap_menu ul li{display:inline-block;  width:35%; padding:10px 0; margin:0 20px;}
.tap_menu ul li p img{width:100%;}
.tap_menu ul li:hover{border-bottom:2px solid #4f1816;}

/*sub_content*/
.tab_container{margin:100px auto; text-align:center; width:100%; height:auto;}

/*about_burgerking*/
#tab1{width:75%; margin:0 auto;}
#tab1 img{width:100%;}
#tab1 p{text-align:justify; font-size:18px; color:#000; line-height:185%;}
#tab1 p.txtbox{margin:25px auto; width:90%;}
.global1{margin:45px 0 60px 0;}
.global2{margin-bottom:230px;}
.korea{margin-top:45px;}

/*history*/
#tab2{width:100%; margin:0 auto; position:relative; height:auto;}
#tab2 > img{position:absolute; left:50px; width:45%;}
#tab2 ul{padding-top:400px;}
#tab2 ul li{display:inline-block; vertical-align:top; margin:30px 0; width:35%;}
#tab2 ul li img{width:100%;}
#tab2 ul li p{text-align:justify; line-height:135%; font-size:20px; margin-left:50px; width:100%;}