@charset "utf-8";

/* sub_visual */
.sub_visual{margin-top:20px; height:853px; background:url(../image/sub/sub_visual.jpg) no-repeat top center;}
.scale-up-center {
	-webkit-animation: scale-up-center 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: scale-up-center 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.sub_menu{text-align:center; padding-top:549px;}
.sub_menu p{margin-bottom:30px;}

/*menubox*/
.sub_visual ul{text-align:center; padding-top:530px;}
.sub_visual ul li{margin:20px 0; cursor:pointer;}

/*location*/
.location{text-align:right; margin:45px 0 15px 0;}

/*tap_menu*/
.tap_menu{height:172px; background:url(../image/sub/burger.png) no-repeat top center; overflow:hidden;}
.tap_menu ul{padding-top:40px;}
.tap_menu ul li{width:700px; height:60px; float:left; text-align:center; cursor:pointer;}

/*sub_content*/
.tab_container{width:1400px; margin:80px auto;}
#tab1{width:1146px; margin:0 auto;}
.global1{margin:45px 0 35px 0; overflow:hidden;}
.global1 .txtbox{float:right; padding-top:50px; width:485px; height:175px; text-align:justify; font-size:18px; color:#000; line-height:185%;}
.global2{margin-bottom:120px; overflow:hidden;}
.global2 img{float:right;}
.global2 .txtbox{float:left; padding-top:50px; width:485px; height:350px; text-align:justify; font-size:18px; color:#000; line-height:185%;}
.korea{margin-top:35px; overflow:hidden;}
.korea .txtbox{float:right; padding-top:50px; width:485px; height:350px; text-align:justify; font-size:18px; color:#000; line-height:185%;}

#tab2 > img{margin-left:70px;}
#tab2 p{line-height:135%; text-align:center; font-size:18px;}

.year1{float:right; margin-top:120px; position:relative;}
.year1 p:nth-child(2){position:absolute; top:255px; left:280px;}
.year1 p:last-child{position:absolute; top:-85px; right:0;}

.year2{margin-top:440px; position:relative;}
.year2 p:nth-child(2){position:absolute; top:255px; left:70px;}
.year2 p:nth-child(3){position:absolute; top:-65px; left:380px;}
.year2 p:nth-child(4){position:absolute; top:255px; right:290px;}
.year2 p:last-child{position:absolute; top:-65px; right:0;}

.year3{margin-top:400px; position:relative;}
.year3 p:nth-child(2){position:absolute; top:255px; left:120px;}
.year3 p:nth-child(3){position:absolute; top:-65px; left:430px;}
.year3 p:nth-child(4){position:absolute; top:255px; right:340px;}
.year3 p:last-child{position:absolute; top:-88px; right:0;}

.year4{margin-top:390px; margin-bottom:400px; position:relative;}
.year4 p:nth-child(2){position:absolute; top:255px; left:80px;}
.year4 p:last-child{position:absolute; top:-65px; left:610px;}